.default {
     color: $default;
}
.default-lighten{
     color: $defaultlighten;	
}
.default-darken{
     color: $defaultdarken;	
}
.defaultbg {
     color: $default;
}
.defaultbg-lighten{
     color: $defaultlighten;	
}
.defaultbg-darken{
     color: $defaultdarken;	
}
.success {
     color: $success;
}
.success-lighten{
     color: $successlighten;	
}
.success-darken{
     color: $successdarken;	
}
.successbg {
     color: $success;
}
.successbg-lighten{
     color: $successlighten;	
}
.successbg-darken{
     color: $successdarken;	
}
.primary {
     color: $primary;
}
.primary-lighten{
     color: $primarylighten;	
}
.primary-darken{
     color: $primarydarken;	
}
.primarybg {
     color: $primary;
}
.primarybg-lighten{
     color: $primarylighten;	
}
.primarybg-darken{
     color: $primarydarken;	
}
.warning {
     color: $warning;
}
.warning-lighten{
     color: $warninglighten;	
}
.warning-darken{
     color: $warningdarken;	
}
.warningbg {
     color: $warning;
}
.warningbg-lighten{
     color: $warninglighten;	
}
.warningbg-darken{
     color: $warningdarken;	
}
.danger {
     color: $danger;
}
.danger-lighten{
     color: $dangerlighten;	
}
.danger-darken{
     color: $dangerdarken;	
}
.dangerbg {
     color: $danger;
}
.dangerbg-lighten{
     color: $dangerlighten;	
}
.dangerbg-darken{
     color: $dangerdarken;	
}



